@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>Hi there! (ஐ╹◡╹)ノ</p>
<p>
    If you are seeing this page, then you are playing on my GitHub page - and I appreciate that!
    This web application is my very first attempt at using C# and ASP.NET 5 MVC 6. 
    My database for these games is written in SQL. And has all CRUD capabilities! 
    
    This is still a work in progress as I learn more and more~    
</p>

<div class="row">
   <div class="col-md-6">
      <ul>
        <li><b>Things that Work!</b></li>
        <li> Registration and Login</li>
        <li> Connection to Database</li>
        <li> Create, Read, Update, and Delete from Database</li>
        <li> Basic Functionality</li>
        <li> Mobile Friendly</li>
    </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li><b>Things I'm Working On:</b></li>
            <li> Adding Reviews </li>
            <li> User Roles and Restrictions</li>
            <li> Custom Graphics</li>
        </ul>

    </div>
</div>