@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<p>
    Like what you see? 
</p>
<p>
    Need a web developer?
</p>
<p>
    Break something?
</p>

<address>
    <strong>Email Me:</strong> <a href="mailto:alicialsims@gmail.com">alicialsims@gmail.com</a><br />
    <strong>Hire Me:</strong> <a href="https://www.linkedin.com/in/alicialsims">LinkedIn Profile </a>
</address>
